control.spec
/build/*
/__pycache__/*
__pycache__/ui.cpython-310.pyc
build/control/PYZ-00.toc
build/control/PYZ-00.pyz
build/control/PKG-00.toc
build/control/EXE-00.toc
build/control/control.pkg
build/control/warn-control.txt
build/control/xref-control.html
build/control/base_library.zip
build/control/Analysis-00.toc
